<html>
    <head>
        <title>food record</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    </head>

    <body>
      <div class="contact-clean">
        <div class="body-margin">
          <h2 class="text-center">参照画面</h2>

        </div>
      </div>

        <script>
            liff.init(
              data => {
                // Now you can call LIFF API
                const userId = data.context.userId;
                // document.getElementById('foodrecord_lineuser_id').value = "test";
                document.getElementById('userid').value = userId;
                liff.getProfile()
                .then(profile => {
                  document.getElementById('user_name').innerText = 'Name : ' + profile.displayName;
                  const name = profile.displayName
                  document.getElementById('user_photo').src = profile.pictureUrl;
                })
                .catch((err) => {
                  console.log('error', err);
                });
              },
              err => {
                // LIFF initialization failed
              }
            );
        </script>
    </body>

</html>
